*{
    margin: 0;
    padding: 0;
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 3fr repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 800vh;
    grid-template-areas: 
    "haut"
    "gal"
    "para"
    "feat"
    "test"
    "foot"
    ;
    }
#top{
    grid-area: haut;
}
#gal{
    grid-area: gal;
}
#para{
    grid-area: para;
}
#feat{
    grid-area: feat;
}
#test{
    grid-area: test;
}
#foot{
    grid-area: foot;
}

/*Top*/

#top {
    display: grid;
    background-image: url("../img/hero_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#title, #menu1, #menu2 {
    padding-top: 30px;
}
#title { 
    grid-area: 1 / 4 / 2 / 5; 
    text-align: center;
    color: white;
    font-size: 45px;
}
#menu1 { 
    grid-area: 1 / 2 / 2 / 4; 
    text-align: left;
}
#menu2 { 
    grid-area: 1 / 5 / 2 / 7; 
    text-align: right;
    color: white;
}
a{
    font-size: 40px;
    text-decoration: none;
    color: rgba(209, 209, 209, 0.651);
    margin: 10px;
}
#btnlog{
    background-color: transparent;
    color: rgba(209, 209, 209, 0.651);
    height: 60px;
    width: 110px;
    font-size: 30px;
    border: none;
}
#btnsign{
    background-color: transparent;
    color: rgba(209, 209, 209, 0.651);
    height: 60px;
    width: 110px;
    font-size: 30px;
    border-radius: 10px;
    border: 3px solid rgba(209, 209, 209, 0.651);
}
#slog { 
    grid-area: 2 / 2 / 3 / 5; 
    text-align: left;
    font-size: 75px;
    color: white;
    position: relative;
}
#slog p{
    position: absolute;
    bottom: 0;
    left: 0;
}
#btnm { 
    grid-area: 3 / 2 / 4 / 4; 
}
#btndown { 
    grid-area: 4 / 4 / 5 / 5; 
    text-align: center;
}
#btneng { 
    grid-area: 2 / 1 / 3 / 2; 
}