.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 3fr repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "haut"
    "gal"
    "para"
    "feat"
    "test"
    "foot"
    ;
    }
#top{
    grid-area: haut;
}
#gal{
    grid-area: gal;
}
#para{
    grid-area: para;
}
#feat{
    grid-area: feat;
}
#test{
    grid-area: test;
}
#foot{
    grid-area: foot;
}

/*Top*/

#top {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
#menu { 
    grid-area: 1 / 2 / 2 / 3;
}
#title { 
    grid-area: 2 / 2 / 3 / 3; 
}
#btnlink { 
    grid-area: 3 / 2 / 4 / 3; 
}
#btnfin { 
    grid-area: 4 / 2 / 5 / 3; 
}
#btneng { 
    grid-area: 2 / 1 / 3 / 2; 
}